*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins, sans-serif";
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.content
{
    position: relative;
}
.content h2
{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 8em;
}
.content h2:nth-child(1)
{
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2)
{
    color: #03a9f4;
    -webkit-text-stroke: 2px #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0% 52%, 12% 47%, 24% 46%, 33% 48%, 42% 50%, 51% 53%, 62% 57%, 74% 55%, 83% 53%, 90% 49%, 100% 48%, 100% 98%, 0% 100%);
    }
    50%
    {
        clip-path: polygon(0% 54%, 12% 58%, 25% 61%, 34% 58%, 40% 56%, 52% 56%, 64% 57%, 74% 54%, 82% 48%, 91% 45%, 100% 42%, 100% 99%, 0% 100%);

    }
}